/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
button,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;

}

a:focus
{
-moz-outline-style: none;
border: none;
outline: none;
}

a:active {
		outline: none;
	}

a {
	text-decoration: none;
	color: #f49a0a;
	 outline: 0;
}

a:hover {
	color: #f2113a;
}




/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    -ms-interpolation-mode: bi-cubic;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body { background: url('../img/noisy_grid.png') repeat;
		border-top: #d74545 7px solid;
		min-width: 980px;
		-webkit-box-sizing: padding-box;
		box-sizing: padding-box;
}

.container {
		margin-right: auto;
		margin-left: auto;
		width: 960px;

	}

.rounded {
	border-radius: 5px;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.shirt {
	opacity: 1;
	padding: 10px;
	box-sizing: inherit;
	min-width: 260px;
	display: block;
	height: inherit;
	height: intrinsic;
	position: relative;
	border-radius: 5px;
	max-width: 260px;
	width: 260px;

	-webkit-box-sizing: border-box;
}
.shirt:hover {
	opacity: .9;
	background: rgba(255,255,255,0.21);
	border: 1px dashed white;
	-webkit-box-sizing: border-box;

}

.shirt:hover p {

}
/* ==========================================================================
   Text Styles
   ========================================================================== */


h1 {

	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #f3911f;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px #1b2d38;

}

h2 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 34px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #f3911f;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px #0e1f31;
	margin: 0px;
	line-height: 39px;

}

h3 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #f3911f;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px #0e1f31;
	margin: 0 0 .5em;
	line-height: 29px;

}

h4 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ededed;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px #0e1f31;
	margin: 0px;
	line-height: 25px;

}
p {
	color: #dfdfdf;
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	font-weight: 300;
	text-shadow: 0px 1px 1px black;


}

b {
	font-family: 'Oxygen', sans-serif;
	font-size: 26px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #dfdfdf;
	text-shadow: 0px 1px 1px #0e1f31;
	margin: 0px;
	line-height: 25px;
}

ul {
 border-left: 4px double #dfdfdf;

}

li {
	color: #dfdfdf;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.84);
	line-height: 20px;
}

.resources ul {


}

.resources li {
	font-family: 'Oxygen', sans-serif;
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #c4c4c4;
	margin-left: -40px;
	font-size: 20px;
	font-weight: 800;
}

.resources li a {

	font-size: 20px;
	font-weight: 300;

}

.resources img {
	padding: 0px 8px 18px 5px;
	position: relative;
	top:-3px;
	display: block;
	float: left;
}



	/* Nav Bar========================================================================== */

div#navbar {
	background: url('../img/navbg.jpg') repeat-x;
	width: 964px;
	height: 52px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;

	border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	z-index: 10;
	position: relative;
	clear: both;
}

div#navbar ul {
	margin: 0px;
	border-left: none;
	}

.sub-nav {
	margin: 0 !important;
	padding: 0 !important;
}

.sub-nav li {
	padding: 10px !important;
}


div#navbar li a {
	color: #e9e9e9;
	text-decoration: none;
	text-shadow: 0px 1px 1px #1f282a;
	}

div#navbar li a:hover {
		color: #e5881e;
	}

div#navbar li a:active {
		color: #d74545;
	}



.nav li {
	border-right: 1px solid #294252;
	padding-right: 15px;
}

ul.social {
	border: none;
	float: right;
	position: relative;
	top: 5px;
	clear: right;
	padding: 10px;
	font-size: 20px;
	right: 10px;

}

ul.social li {
	display: inline-block;
	font-size: 20px;
}

ul.social li a {
	border: none;
}

li.volunteer_line {
  border: none;
}



.volunteer_count {
  color: #e5881e;
}

.hiddentext {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

#facebook {
	font-family: 'socicon';
	font-size: 18px;
}

.socicon {
    font-family: 'socicon' !important;
}

#facebook:hover {background: url('../img/facebook_icon_hover.png') no-repeat;}

#facebook:active {background: url('../img/facebook_icon_active.png') no-repeat;}

#twitter {
	background: url('../img/twitter_icon.png') no-repeat;
	height: 40px;
	width: 48px;
	display: block;
	margin-top: 0px;
	margin-right:20px;
}

#twitter:hover {background: url('../img/twitter_icon_hover.png') no-repeat;}

#twitter:active {background: url('../img/twitter_icon_active.png') no-repeat;}




/* Dropdowns ============================================================================ */

ul.drop a { display:block; text-decoration: none; font-size: 16px; font-weight: 500;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; }
ul.drop { position: relative; z-index: 597; float: left;  }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 15px 10px;}
ul.fly li {border-bottom: 1px solid #c6c6c6; border-left: 1px solid #c6c6c6; margin-left: -40px;}
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; background: #1e7c9a;  }
ul.drop li.hover, ul.drop li.volunteer_line:hover {background: none;}
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 280px; background: #555;}
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%;}
ul.drop li:hover > ul { visibility: visible;}
ul.drop li:onmouseout > ul {visibility: hidden;}




/* Logo Section========================================================================== */

div#login-bar {


	position: absolute;
	margin-left: 590px;
	z-index: 2;
	background-color: #4b7284;
	margin-top:-3px;

	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.3);
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;

	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

div#login-bar ul {
	margin: 0;
	padding: 0 18px 0 18px;



}

.first-child-login {
	border-left: 1px rgba(0,0,0,0.11) solid;

}



div#login-bar li {
	list-style: none;
	text-shadow: none;
	line-height: 22px;
	display:inline;
	margin: 0;
	padding: 5px 9px 5px 9px;
	float: left;
	border-right: 1px rgba(0,0,0,0.11) solid;
	width: auto;


}

div#login-bar li a {
	color: #eeeeee;
}

div#login-bar li:hover {
	background-color:rgba(255,255,255,0.11);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.3);
}

div#login-bar li.hello-name:hover {
	background: none;
	box-shadow: none;
}

div#logo {
		background: url('../img/servestllogo.png') no-repeat;
		height: 330px;
		width: 960px;
		margin: 0px;
		position: relative;

	}


.airplane {
	display: block;
	width: 412px;
	height: 74px;
	position: relative;
	top: 20px;
	transition: .2s;

}

.airplane:hover {
	opacity: .8;
	transition: .2s;
}

div#datebar {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	padding-top: 2px;
	background-color: #e21c40;
	color: white;
	text-align: center;
	position: absolute;
  bottom: 0px;
	left:135px;


	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;

	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;

	border-top: #e27272 solid 1px;

}

div#datebar span {
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 300;
	margin:0px;
	text-align: center;
	color: white;
	text-shadow: 0px 1px 1px #5c1d26;

}

#countdown {
	text-align: center;
	float: right;
	background: rgb(255, 35, 60);
	position: relative;
	left: 100px;
	width: 100px;
	top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(239, 239, 239);
	border-radius: 0px 4px 4px 0;
	box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.31);
}


div#shirt-call {
	background: white;
	border-radius: 5px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.64);
	position: relative;
	display: block;
	opacity: .8;
	min-width: 130px;
	min-height: 200px;
	background: url('../img/scaled.jpg') no-repeat center center;
	background-size: cover;
	opacity: .7;
	font-weight: 100;
}

div#shirt-call:hover {
	opacity: 1;

}



div#shirt-call p {
	text-transform: uppercase;
	color: white;
	text-shadow: none;
	font-size:15px;
	padding: 10px;
	position: relative;
	top:67px;
	background: red;
}

div#shirt-call:hover p {
	color: aqua;
}

.extra-right {

	position: absolute;
	top: 32px;
	right: -170px;
	z-index: 0;
}

.second {
	display: none;
}

/* Content Section========================================================================== */

div#content {
	background: url('../img/contentbg.jpg') repeat;
	width: 900px;
	border-top: #567f95 solid 1px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;

	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;

	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;

	}

.row {

    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
  }


.span12 {
    width: 900px;
  }
  .span11 {
    width: 820px;
  }
  .span10 {
    width: 740px;
  }
  .span9 {
    width: 660px;
  }
  .span8 {
    width: 580px;
  }
  .span7 {
    width: 500px;
  }
  .span6 {
    width: 420px;
  }
  .span5 {
    width: 340px;
  }
  .span4 {
    width: 260px;
  }
  .span3 {
    width: 180px;
  }
  .span2 {
    width: 100px;
  }
  .span1 {
    width: 20px;
  }

.spanthird {
	width: 210px;
	margin-right: 110px;
	text-align: center;
}

.spanthird.last {
	margin-right: 0px;

}

.intro {



}

.secondary_content {
	background: url('../img/dark_contentbg.jpg') repeat;
	width: 960px;
	margin-left: -30px;
	height: 359px;


}

div#band {
	background: url('../img/band.jpg') repeat-x;
	height: 106px;
	position: relative;
	top: 50px;
	clear: both;
}

div#band img {
	position: relative;
	top: -40px;
	left: 5px;
}

div#description {
	margin-top: 20px;
	display: block;
	width: 960px;
	height: auto;
}

.small {
	font-size: 12px;
	color: #e7e7e7;
}

div#button-row {
	margin: 0px;
	display: block;
	clear: both;
	position: relative;

}

div#mid_divide {
	background: url('../img/mid_divider.jpg') repeat-x;
	height: 51px;
	width: 960px;
	margin-left: -30px;




}

div#mid_divide_orange {
	width: 456px;
	margin: 0px 0px 0px 40px;
}

div#mid_divide h2 {
	color: white;

	text-align: center;
	font-size: 35px;
	min-height: 41px;
	padding: 8px 3px 0px 3px;


}

.partner {
	margin-top: 12px;
}
.partner a {
	color: #ededed;
	font-size: 17px;
	font-family: 'Oxygen', Helvetica, sans-serif;
	font-weight: 300;
	margin-left: 25px;


}

.partner a:hover {
	color: #ff9411;
}

#church_logos {
	display: block;
	width: 900px;
	text-align: center;
}

#church_logos ul {
	text-align: center;
	margin: 10px 0px 0px 0px;
}

#church_logos li {
display: inline-block;
width: 318px;
height: 140px;
text-align: center;

}

#tertiary_content {
	margin-top: 20px;
	padding-bottom: 20px;
}

.border_right {
	border-right: 6px double rgba(225,225,225,0.73);
	padding-right: 20px;
}

/* ==========================================================================
   Secondary Pages
   ========================================================================== */

h1.super {
	color: #e5e5e5;
	font-size: 70px;
	margin: -20px 0px;
	padding: 0px;

	text-shadow: 0px 6px 0px #172128;
}

h1.super-project {
	color: #e5e5e5;
	font-size: 40px;
	margin: 0px 0px;
	padding: 0px;
	line-height: 40px;
	text-shadow: 0px 6px 0px #172128;
}
.border {
	border: 4px solid white;
	box-shadow: 0px 1px 4px black;
	text-align: center;
}

.pull-right {
	float: right;
	margin-right: 20px;
}

.btn-lg {
		background: #e21c40;
	background:-webkit-linear-gradient(#e15d75 0%, #e21c40 7.95%);
	color: #ededed;
	width: auto;
  height: auto;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 300;
  line-height: normal;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	border: 1px solid #293c40;
	text-shadow: none;
	text-rendering: optimizeLegibility;
	margin-bottom: 20px;
	display: block;
}

.btn-lg:hover {
	color: white !important;
	background: #c91f3e;
	background:-webkit-linear-gradient(#e21c40 0%, #c02642 7.95%);
}

/* ==========================================================================
   Project Selection Page
   ========================================================================== */

#project_filter_bar {
	background: gray;


	background: url('../img/squairy_light.png') repeat;
	box-shadow: inset 20px 0px 33px rgba(0,0,0,0.23), 1px 0px 1px rgba(36,57,63,0.68);
	border-top: 5px solid #d74545;
	border-radius: 0px 8px 8px 0px;
	margin-bottom: 30px;
	border-left: 1px solid rgba(0,0,0,0.38);
}

#top-fold {
	background: url('../img/top-fold.png') no-repeat;
	display: block;
	min-width: 29px;
	min-height: 4px;
}

#bottom-fold {
	background: url('../img/bottom-fold.png') no-repeat;
	position: relative;
	top:-30px;
	display: block;
	min-width: 29px;
	min-height: 4px;
}

#project_filter_bar.span4 {
	display: none;
}

#project_filter_bar h1 {
	font-size: 15px !important;

}

#project_filter_bar h2 {
	color: #d74545;
	font-size: 20px;
	text-shadow: none;
	text-align: center;

}

#project_filter_bar select, #project_filter_bar input[type="text"] {
	width: 75%;
	margin-left:10%;
	text-align: left;
	border: 1px solid #9f9f9f;
}

#project_filter_bar input[type="text"] {
  height: 25px;
	width: 70%;
}

#project_filter_bar label > span {
	background: #2f6b8e;
	padding: 4px 9px;
	border-radius: 3px 3px 3px 0px;
	margin-left:11%;

}


ul.filters  {

position: relative;
width: 260px;
left: 0px;
padding: 0;



}

.filters li {
	list-style: none;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	width: 100%;

	padding-bottom: 10px;


	border-bottom: 1px dashed rgba(94,94,94,0.53);

}

.filters li:last-child {
	border-bottom: none;
}

.filters {

}


#characteristics {
	color: #5a5a5a !important;
	font-size: 18px !important;
	text-shadow: none;
	font-family: Futura, Helvetica, sans-serif;
	position: relative;
	margin-left: 40px !important;
	line-height: 26px;


}

#characteristics input {
	position: relative;

}

.keyword_search {
	width: 250px;
	height: 100%;
	margin-top: -24px !important;
}

.project_host {
	width: 250px;
	height: 100%;
}

.project_type {
	width: 250px;
	height: 100%;
}

.project_type input {
	top:5px;
	position: relative;
}


.project_age {
	width: 140px;
	height: 100%
}

.project_other {
	width: 200px;
	height: 100%
}

.switch_to_map {
		width: 140px;
	display: block;


}

.switch_to_map img {
	margin-left: 10px;
}

.search-map {
	background: white;
	border: 5px solid #d74545;
	border-radius: 6px;
}

/* ==========================================================================
  Map Card Styles
   ========================================================================== */


.map_cards  {

	position: relative;
	padding: 0 !important;



}
.map_cards li {
	position: relative;
	width: 211px;
	height: 383px;
	display: inline-block;
	margin: 0 auto;
	transition:.2s;
	background: #efefef;
	border-radius: 4px;

}

.map_cards li:hover {
	transition:.2s;
	cursor: pointer;
	background: #e9e9e9
}

.map_cards h3 {
	color: #515151;
	font-size: 16px;
	text-shadow: none;
	position: relative;
	margin-top: 12px;
	margin-left: 6px;
	line-height: 14px;
	height: 47px;
	width:95%;
	font-family: 'BebasNeueRegular', Futura, Helvetica, sans-serif;
	letter-spacing: 1px;
	clear: both;
	margin-bottom: 0px;
	padding: 0px;
}

.map_cards h4 {
	font-size:13px;
	position: relative;

	width: 95%;
	text-shadow: none;
	color: #767676;
	line-height: 12px;

	margin-left: 6px;
	padding: 0px;
	margin-bottom: 0px;

}

.map_cards p {
	text-shadow: none;
	font-size: 13px;
	color: #747474;
	padding: 0px 4px;
	line-height: 14px;
	height: 114px;
	font-family: Times, serif;
	position: relative;
	margin-top: 4px;

	overflow: hidden;
	margin-bottom: 10px;
}

.map_cards hr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.map_cards .project-image-thumb {
	position: relative;
	display: block;
	overflow: hidden;
	left: 6px;
	top:7px;
	border: 1px solid #dadada;
	border-radius:5px;
	width: 195px;
	height: 100px;
	clear: both;

}

.map_cards .project_type_icons  {
	float: right;
	top: -24px;
	right: 6px;
	position: relative;
	clear: right;


}

.map_cards .project_type_icons li {
	background: none;
	float: right;
	width: auto;
	height: auto;
	box-shadow: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	height: 23px;


}

.map_cards .time-stamp  {
	color: #f1f1f1 !important;
	background: #5e5e5f;
	display: inline-block;
	border-radius: 4px;
	padding: 0px 4px;
	position: absolute;
	top: 85px;
	font-size: 11px;
	text-shadow: none;
	margin-left: 28px;

}

#infoWindow .empty {
	top: 348px;

}

#infoWindow .full {
	top: 348px;
}


/* ==========================================================================
  Project Card Styles
   ========================================================================== */
.project_cards  {

	position: relative;
	padding: 0 !important;
	left: 13px;

}
.project_cards li {
	position: relative;
	width: 211px;
	height: 353px;
	display: inline-block;
	background: #e8e8e8;
	border-radius: 5px;
	margin: 0px 20px 41px 0px;
	border: 1px solid #e8e8e8;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.66);
	float: left;
	transition:.2s;
}

.project_cards li:hover {
	background:#f0f0f0;
  border: 1px solid #e21c40;
	transition:.2s;
	box-shadow: 0px 4px 2px rgba(0,0,0,0.66);
	cursor: pointer;

}

.btn-full  {
	text-align: center;


	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;


}

.btn-full a {
	text-align: center;
	background: #f7132e;
	padding: 5px 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: white;
	text-shadow: 0px 1px 1px #681421;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	border-radius: 10px;
	-webkit-font-smoothing: antialiased;
	box-shadow: inset 0px 0px 29px #c41924, 0px 2px 0px rgba(0,0,0,0.49);

}

.btn-full a:hover {
	background: #f83249;
}

.btn-full a:active {
	background: #c41025;
	box-shadow: inset 0px 0px 29px #c41924, 0px 0px 0px rgba(0,0,0,0.49);
}

.btn-secondary  {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;


}

.btn-secondary  button {
	background: #424242;

	color: #ededed;
	width: auto;
	height: auto;
	padding: 8px 16px;
	font-size: 12px;
	font-weight: 300;
  line-height: normal;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	border: 1px solid #293c40;
	text-shadow: none;
	text-rendering: optimizeLegibility;
	margin-bottom: 0px;

}

.btn-secondary button:hover {
	background: #969696;
}

.btn-secondary a button {
	text-align: center;
	background: #f8ac14 !important;
	padding: 5px 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: white;
	text-shadow: 0px 1px 1px #681421;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	border-radius: 10px;
	-webkit-font-smoothing: antialiased;
	box-shadow: inset 0px 0px 29px #c5ac1a, 0px 2px 0px rgba(0,0,0,0.49);

}

.btn-secondary a:hover {
	background: #f5e065;
}

.btn-secondary a:active {
	background: #c5a710;
	box-shadow: inset 0px 0px 29px #c41924, 0px 0px 0px rgba(0,0,0,0.49);
}


#project_filter_bar h1 {
	color: #515151;
	font-size: 28px;
	text-shadow: none;
	position: relative;
	margin-top: 10px;
	margin-left: 6px;
	font-family: 'BebasNeueRegular', Futura, Helvetica, sans-serif;
	letter-spacing: 1px;
	clear: both;
	text-align: center;
	margin-bottom: -10px;
	padding: 0px;
}

.project_cards h3 {
	color: #515151;
	font-size: 16px;
	text-shadow: none;
	position: relative;
	margin-top: 5px;
	margin-left: 6px;
	line-height: 14px;
	height: 47px;
	width:95%;
	font-family: 'BebasNeueRegular', Futura, Helvetica, sans-serif;
	letter-spacing: 1px;
	clear: both;
	margin-bottom: 0px;
	padding: 0px;
}

.project_cards h4 {
	font-size:12px;
	position: relative;

	width: 95%;
	text-shadow: none;
	color: #767676;
	line-height: 12px;

	margin-left: 6px;
	padding: 0px;
	margin-bottom: 0px;

}

.card-body {
	height: 94px;
	position: relative;
}

.card-body p {
	text-shadow: none;
	font-size: 12px;
	color: #747474;
	padding: 0px 4px;
	line-height: 14px;

	font-family: Times, serif;
	position: relative;
	margin-top: 4px;
	overflow: hidden;
	margin-bottom: -16px;
}


.time-stamp  {
	color: #f1f1f1 !important;
	background: #5e5e5f;
	display: inline-block;
	border-radius: 4px;
	padding: 0px 4px;
	position: absolute;
	top: 85px;
	font-size: 11px;
	text-shadow: none;
	margin-left: 42px;

}

.project_cards hr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.project_cards .project_image {
	position: relative;
	display: block;
	left: 6px;
	top:7px;
	border: 1px solid #dadada;
	border-radius:5px;
	width: 195px;
	height: 100px;
	clear: both;

}

.project_cards .project-image-thumb {
	min-width: 190px;
	min-height: 100px;
	max-width: 190px;
	position: relative;
	overflow: hidden;
	position: relative;
	display: block;
	border: 1px solid #dadada;
	border-radius: 5px;
	max-height: 100px;
	margin: 5px auto 0 auto;
	background: white;
}

.project_cards .project-image-thumb img {
	width: 100%;
	min-height: 100%;
	height: auto;
	background: white;

	}

.project_cards .project_type_icons  {
	float: right;
	top: -24px;
	right: 6px;
	position: relative;
	clear: right;


}

.project_cards .project_type_icons li {
	background: none;
	float: right;
	width: auto;
	height: auto;
	box-shadow: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	height: 23px;


}
.ages {
	float: left;
	margin-left: 6px;
	position: relative;
	top: -10px;
	height: 23px;
}

.progress_bar {
	height: 5px;
	width: 168px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:20px;
	background: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7);

}

.progress_bar > span.progress {
		display: block;
	 height: 100%;
	   -webkit-border-top-right-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	       -moz-border-radius-topright: 9px;
	    -moz-border-radius-bottomright: 9px;
	           border-top-right-radius: 9px;
	        border-bottom-right-radius: 9px;
	    -webkit-border-top-left-radius: 9px;
	 -webkit-border-bottom-left-radius: 9px;
	        -moz-border-radius-topleft: 9px;
	     -moz-border-radius-bottomleft: 9px;
	            border-top-left-radius: 9px;
	         border-bottom-left-radius: 9px;
	background-color: #03b4dc;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7);
	text-align: left;

	overflow: inherit;
}

.empty {
	position: absolute;
	font-family: sans-serif;
	font-size: 11px;
	text-shadow: none;
	color: #444444;
	font-weight: 100;
	top: 327px;
	text-align: left;
	left: 10px;
}

.people_needed {
	position: absolute;
	font-family: sans-serif;
	font-size: 9px;
	text-shadow: none;
	color: #444444;
	font-weight: 100;
	top: 337px;
	left: 73px;
	text-align: center;
	float: right;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 0;
}

.full {
	position: absolute;
	font-family: sans-serif;
	font-size: 12px;
	text-shadow: none;
	color: #444444;
	font-weight: 100;
	top: 327px;
	text-align: right;
	left:195px;
}

.next {

	position: relative;
	margin-bottom: 20px;
	display: inline-block;
	color: white;
	width: 130px;
	background: #f1142a;
	padding: 4px 6px;
	border-radius: 5px;
	border-top: 1px solid rgba(255,255,255,0.61);
	border-bottom: 1px solid rgba(0,0,0,0.44);

	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;

	-webkit-font-smoothing: antialiased;
	box-shadow: inset 0px 0px 29px #c41924, 0px 1px 0px rgba(0,0,0,0.49);


}

.next a {
	color: white;
	padding:0px 10px;
}

.next:hover {
	background: #d61528;
}

.next a:hover {
	color: #00a3ff;
}

.prev {
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
	color: white;
	width: 130px;
	background: #f1142a;
	padding: 4px 6px;
	border-radius: 5px;
	border-top: 1px solid rgba(255,255,255,0.61);
	border-bottom: 1px solid rgba(0,0,0,0.44);
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;

	-webkit-font-smoothing: antialiased;
	box-shadow: inset 0px 0px 29px #c41924, 0px 1px 0px rgba(0,0,0,0.49);
}

.prev a {
	color: white;
	padding: 0px 10px;
}

.prev:hover {
	background: #d61528;
}
.prev a:hover {
	color: #00a3ff;
}



/* ==========================================================================
  Project Viewing Styles
   ========================================================================== */

.project_page_image img {
	box-shadow: 0px 2px 2px black;
	border-radius: 4px;
	width: 500px;
	height: auto;
	background: white;
}

address.project-location p {
	font-size: 14px;
	margin: 0px;
	margin-left: 36px;

}

time {
	color: #dedede;
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	font-weight: 300;
	text-shadow: 0px 1px 1px black;
}

ul.horizontal-list {
	display: inline-block;
	position: relative;
	list-style: none;
}

.horizontal-list li {
	background: url('../img/squairy_light.png') repeat;
	margin-bottom: 5px;
	padding: 1px 5px;
	color: black;
	text-shadow: none;
	border-top: white solid 1px;
	box-shadow: 0 1px 1px rgba(68,68,68,0.67);
	border-radius: 3px;
}

.sign_up_drop {

}

.signup-form {
	width: 600px;
	margin: 30px auto;
	background: url('../img/binding_dark.png') repeat;
	border-radius: 6px;
	padding: 16px;

}


.first-name {
	width: 145px;
	margin-right: 10px;

}

.last-name {
	width: 145px;
}

#name-signup label,input {
	display: inline-block;
}

ul.two-buttons {
	margin: 0 auto;
	text-align: center;
	margin-left: -40px;
}
.two-buttons li  {
	display: inline-block;
	margin-left: 20px;

}

#progress_bar_container {
	position: relative;
	padding-bottom: 20px;
}


.progress_bar-show {
	height: 5px;
	width: 168px;
	position: relative;
	background: white;
	left: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7);

}



.progress_bar-show > span.progress-show {
		display: block;
	 height: 100%;
	   -webkit-border-top-right-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	       -moz-border-radius-topright: 9px;
	    -moz-border-radius-bottomright: 9px;
	           border-top-right-radius: 9px;
	        border-bottom-right-radius: 9px;
	    -webkit-border-top-left-radius: 9px;
	 -webkit-border-bottom-left-radius: 9px;
	        -moz-border-radius-topleft: 9px;
	     -moz-border-radius-bottomleft: 9px;
	            border-top-left-radius: 9px;
	         border-bottom-left-radius: 9px;
	background-color: #03b4dc;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.7);
	text-align: left;

	overflow: inherit;
}

.empty-show {
	position: absolute;
	font-family: sans-serif;
	font-size: 11px;
	text-shadow: none;
	color: white;
	font-weight: 100;

	text-align: left;
	left: 10px;
}

.people_needed-show {
	position: absolute;
	font-family: sans-serif;
	font-size: 9px;
	text-shadow: none;
	color: white;
	font-weight: 100;

	left: 73px;
	text-align: center;
	float: right;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 0;
}

.full-show {
	position: absolute;
	font-family: sans-serif;
	font-size: 12px;
	text-shadow: none;
	color: white;
	font-weight: 100;

	text-align: right;
	left:195px;
}


#signup-member {

}

#signup-nonmember {

}

.highlight {
	background: url('../img/squairy_light.png') repeat;
	display: inline-block;
	padding: 2px 6px;
	margin-right: 6px;
	text-shadow: none;
	color: #404040;
	text-transform: uppercase;
	border-radius: 4px;
	font-size: 14px;
}

#additional-volunteers {
	width: 300px;

}

#signup-left {
	width: 350px;
	border-radius: 1px solid white;
	float: left;
}

.project-info {
	position: relative;
	margin-top:50px;
}

.social-share {
	height: 40px;
	width: 300px;
	display: block;
	position: absolute;
}

.twitter-share-button {
	top:6px;
	position: relative;
}

/* ==========================================================================
  Form Styles
   ========================================================================== */

.message {
	color: white;
	background: #de152d;
	font-size: 16px;
	padding: 5px;
	margin-bottom: 10px;

	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}

.error-message {
	color: #FFFFFF;
	background: rgb(255, 27, 61);
	display: inline;
	font-size: 18px;
	margin-left: 5px;
	padding: 2px 4px;
	margin-bottom: 10px;
	border-radius: 2px;
	text-shadow: none;
	top: -3px;
	position: relative;
	}

form {

	position: relative;
	color: #dfdfdf;
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	font-weight: 300;
	text-shadow: 0px 1px 1px black;
	padding: 20px 0 20px 0;
	margin: 0px;


}

label {
	margin-right: 10px;
	display: block;
}

input[type="text"] {
height: 28px;

}


input, select, button, textarea {
	border-radius: 4px;
	text-align: left;
	font-family: 'Oxygen', sans-serif;
	color: #3d3d3d;
	font-size: 20px;
	line-height: 22px;
	width: 300px;
	padding: 2px 5px 2px 5px;
	margin-bottom: 20px;
	border: 1px solid #293c40;
	box-shadow: 0px 1px 0px rgba(242,244,245,0.25), inset 0px 1px 1px black;
	background-color: #96bacb;
	background: url('../img/groovepaper.png') repeat;
}

input:focus, textarea:focus, button:focus {
	box-shadow: 0px 0px 0px 2px #e21c40;
	-webkit-box-shadow: 0px 0px 0px 2px #e21c40;
	outline: -webkit-focus-ring-color none;
}

input[type="checkbox"] {
	text-align: left;
	float: left;

}

html button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

select,
textarea,
button,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}







input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  margin-right: 10px;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"],
button {
  width: auto;

}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

.input img {
	width: 100%;
}


select {
	height: 36px;

}
select:focus {
	border: solid 1px #e21c40;

}

div.datetime select, div.date select {
  width: auto;
}

input[type="submit"],
button,
a.btn-primary {
	background: #e21c40;
	background:-webkit-linear-gradient(#e15d75 0%, #e21c40 7.95%);
	color: #ededed;
	width: auto;
  height: auto;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 300;
  line-height: normal;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	border: 1px solid #293c40;
	text-shadow: none;
	text-rendering: optimizeLegibility;
	margin-bottom: 0px;
}

a.btn-primary {
  display: inline-block;
}

input[type="submit"]:hover,
button:hover,
a.btn-primary:hover {
	background: #ea3052;
}

input[type="submit"]:active, button:hover {
	box-shadow: 0px 1px 0px rgba(242,244,245,0.25), inset 0px 1px 1px black;
}

button.btn.btn-primary input[type="submit"].btn.btn-primary {
background: #e21c40;
	background:-webkit-linear-gradient(#e15d75 0%, #e21c40 7.95%);
	color: #ededed;
	width: auto;
	height: 30px;
	padding: 5px;
	line-height: 18px;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	border: 1px solid #293c40;
	text-shadow: none;
	text-rendering: optimizeLegibility;
	vertical-align: middle;
	margin-bottom: 0px;
	margin-top: 20px;
}

button.btn.btn-primary:hover {
background: #ea3052;
}

button.btn.btn-primary:active {
	box-shadow: 0px 1px 0px rgba(242,244,245,0.25), inset 0px 1px 1px black;
}

button,
input,
select,
textarea {

  font-size: 100%;
  vertical-align: middle;
}


textarea {
	height: 120px;
	background: url('../img/groovepaper.png') repeat;
}

textarea:focus {
	box-shadow: 0px 0px 0px 2px #e21c40;
	-webkit-box-shadow: 0px 0px 0px 2px #e21c40;
	outline: -webkit-focus-ring-color none;

}


#datetime select {
	width: 100px;
}

.black {
	background: black;
}

/* ==========================================================================
  Console/Edit/Manage Pages Styles
   ========================================================================== */

.pages ul {

}

.pages li {
	list-style: disc;
	font-size: 20px;
	line-height: 24px;
}

div.alert.alert-success {
	color: white;
}


table.mceLayout {
	height: 900px;
}

.project_list {
	font-size: 24px;
	line-height: 26px;

	padding-bottom: 20px;
}



/* ==========================================================================
  Table Styles
   ========================================================================== */

table {
  max-width: 870px;



  margin-bottom: 20px;
  border: 1px solid rgba(255,255,255,0.56) !important;
  box-shadow: 0px 0px 0px 1px white;


}


.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;

  color: white;
  text-transform: uppercase;
  background: rgba(219,21,55,1);

}

.table tr {
	border-top: 1px solid rgba(222,222,222,0.65);
}
.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}




.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(44,64,71,0.4);

}

.table-striped tbody tr:nth-child(odd) a {
	color: #efefef;
}

.table-striped tbody tr:nth-child(odd) a:hover {
	color: #e81b3d;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background-color: rgba(255,255,255,0.29);
}

.table-striped tbody tr:nth-child(even) a {
	color: #f8f8f8;
}

.table-striped tbody tr:nth-child(even) a:hover {
	color: #e81c3e;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success td {
  background-color: #dff0d8;
}

.table tbody tr.error td {
  background-color: #f2dede;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

.table tbody tr.info td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3;
}

.dashboard ul {
	display: inline-block;

}

.dashboard li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 20px;
	text-align: center;

}

.dashboard-list li {
	font-size: 20px;
	line-height: 25px;
}

/* ==========================================================================
  Footer
   ========================================================================== */

div#footer {
	background: url('../img/footerbg.jpg') repeat;
	width: 930px;
	margin: 0px 0px 10px 0px;
	height: 30px;
	padding: 0px 15px 15px 15px;
	border-bottom: 1px solid #306b7a;

	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;

	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

div#footer p, div#footer a {
	color: #2a5463;
	font-size: 14px;
	text-shadow: none;
}

div#footer a:hover {
  color: #f2113a;;
}

.copyright {
	float: left;
}

.contact {
	text-align: right;
	float: right;
}

.button {
	background: url('../img/buttonbg.png') no-repeat top center;
	display: inline-block;
	height: 29px;
	width: 90px;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 6px;


}

.button:hover {
	color: #e09006;
}

.button:active {
	color: #e1062e;
	background: url('../img/buttonbg_active.png') no-repeat top center;
}

.midbutton {
	background: url('../img/buttonbg.png') no-repeat top center;
	display: inline-block;
	height: 29px;
	width: 90px;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 6px;
	margin-left: 62px;

}

.midbutton:hover {
	color: #e09006;
}

.midbutton:active {
	color: #e1062e;
	background: url('../img/buttonbg_active.png') no-repeat top center;
}

.connect_list li {
	font-size: 18px;
	line-height: 28px;
}

.connect_list li a {
	color: #fdcf73;
}

.connect_list li a:hover {
	color: #ea153c;
}


#slidingDiv, #slidingDiv_2, #slidingDiv_3, #slidingDiv_4, #slidingDiv_5, #slidingDiv_6, #slidingDiv_7, #slidingDiv_8, #slidingDiv_9, #slidingDiv_10, #slidingDiv_11, #slidingDiv_12, #slidingDiv_13, #slidingDiv_14, #slidingDiv_15, #slidingDiv_16, #slidingDiv_17, #slidingDiv_18, #slidingDiv_19, #slidingDiv_20, #slidingDiv_21, #slidingDiv_22, #slidingDiv_23, #slidingDiv_24, #slidingDiv_25, #slidingDiv_26, #slidingDiv_27, #slidingDiv_28, #slidingDiv_29, #slidingDiv_30 {




	display: none;

}



.show_hide_faq {

}

.faq {
	color: #dfdfdf;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 5px;
	line-height: 40px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
	border-bottom: 1px dashed rgba(98,123,128,0.58);
}

.sliding_div_faq {
	height:auto;
	padding:0 20px 0 10px;
	border-left: 4px solid #ebebeb;
}

#sign-up {
		-moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 700px;
        height: 700px;
        position: relative;
        display: none;

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*------------FONTS---------------*/
