<div class="row">
	  	
	  		<h1 class="super">Input Styles WOW!</h1>
	  		<hr />
	  	</div>
	  
 <div class="row">
 		 
         <div class="span12">
        <h2>There's about to be a form below!</h2>
        
        	<form>
        		<label for="name">
        			<span>Name:</span>
        		</label>
        			<input type="text" name="name" />
        			
        		<label for="email">
        			<span>Email:</span>
        		</label>
        			<input type="text" name="email" />
        			
        			
        			
        			
        		<label for="gender" class="radio-buttons">
        			<span>Gender:</span>
        			
        				<input type="radio" name="gender" class="regular-radio">Male</input>
        				<input type="radio" name="gender" class="regular-radio" /><label for="gender">Female</label>   
        			    			
    

        		</label>
        		
        		<div class="tag">Gender</div>
    <div class="button-holder">
        <input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio" checked /><label for="radio-1-1">Male</label>
        <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio" /><label for="radio-1-2">Female</label>
        
    </div>
</div>
        	</form>
         
        
         
         </div><!-- .span11 -->
         
        

         		         
		
		

		
	 </div><!-- .row -->