<?php $this->set('title_for_layout', $church['Church']['name']); ?>
<h1><?php echo $church['Church']['name'] ?></h1>
<h2>Projects</h2>
<?php foreach ($church['Project'] as $project): ?>
  <li><?php echo $project['title']; ?></li>
<?php endforeach; ?>